<% var title = 'Profil' %>
<% include head2 %>

<h1>Hello</h1>

<a>Bonjour </a>
<%=prenom%> , <%=nom%>, <img src=<%=photo%>>
</br>

<a href="/modifProfil">Modifier profil</a>
</br>
</br>
<a href="/paint">Déssinez !!</a>



<% include foot %>